:root {
  --black: #202023;
  --gray: #e4e4e7;
}

body {
  background-color: #fff;
}

* {
  font-family: "AppleSDGothicNeo", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
  background-color: var(--black);
  display: flex;
  height: 36px;
  padding: 0 12px;
  border-radius: 8px;
  place-items: center;
  outline: none;
  color: white;
}

.inActive {
  display: none;
}

@media screen and (min-width: 1025px) {
  .inActive {
    display: block;
  }
}
